body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-style: normal;
  background-color: #ffffff;
}
ul {
  margin: 0;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}
a {
  list-style-type: none;
}
img {
  display: block;
}
.container { 
  display: flex;
  max-width: 1158px;
  padding: 0 15px; 
  margin: 0 auto;  
  }

/* Header Section */
.header-logo {
  font-style: normal;
  background-color: #fff;
  padding: 0 156px;
}
.header-logo-span {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-name {
  color: #2e2f42;
  font-family: 'Raleway' sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-logo .header-span-logo:hover,
.header-logo .header-span-logo:focus {
  color: #404bbf;
}
.header-logo-link {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-logo-link:hover,
.header-logo-link:focus {
  color: #404bbf;
}
/* Contacts */
.contacts-name {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-link {
  color: #434455;
}
.contacts .contacts-link:hover {
  color: #404bbf;
}
.contacts .contacts-link:focus {
  color: #404bbf;
}

/* Common style */
.team-header,
.portfolio-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.vision-title,
.team-title,
.portfolio-title {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
}
.vision-text, 
.team-text,
.portfolio-text,
.logo-down-text {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Hero section */
.hero {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #2e2f42;
  padding: 188px 0;
  flex-shrink: 0;
  text-align: center;
}
.hero-list {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  max-width: 0 auto;
}
.hero-button {
  display: block;
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 48px auto;
}
.hero .hero-button:hover {
  background-color: #404bbf;
}
.hero .hero-button:focus {
  background-color: #404bbf;
}
/* Vision section */
.vision {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #fff;
  padding: 120px 156px;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  width: 1128px;   
}
.vision-title {
  width: 264px;
  font-size: 20px;
}
.vision-text {
  color: #434455;
}

/* Team section */
.team {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: #f4f4fd;
}
.team-header {
}
.team-list {
  background: #fff;
}
.team-icon {
  background: lightgray;
}
.team-title {
  text-align: center;
}
.team-text {
  color: #434455;
  text-align: center;
}
/* Portfolio section */
.portfolio {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #fff;
}
.portfolio-header {
}
.portfolio-img {
  background: #fff;
}
.portfolio-title {
}
.portfolio-text {
  color: #434455;
}
/* Footer */
.down {
  font-style: normal;
  background: #2e2f42;
}
.logo-down-all {
  width: 115px;
  padding-top: 100px;
  padding-left: 156px;
  margin-bottom: 188px;
}
.logo-down {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17.5px;
}
.span-logo-down {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17.5px;
}
.logo-down-text {
  color: #f4f4fd;
  width: 264px;
  margin-top: 140px;
}